atomicwrites==1.3.0
attrs==19.1.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
check50==3.0.0
Click==7.0
coverage==3.6
defusedxml==0.4.1
django>=1.11.19
django-crispy-forms==1.7.2
django-tastypie==0.9.15
dnspython==1.16.0
Flask==1.0.2
Flask-DotEnv==0.1.2
Flask-Session==0.3.1
Flask-SocketIO==3.1.2
Flask-SQLAlchemy==2.4.0
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.18
itsdangerous==1.1.0
jellyfish==0.7.2
Jinja2==2.10.1
lib50==1.1.5
libgravatar==0.2.3
MarkupSafe==1.1.0
mimeparse==0.1.3
monotonic==1.5
more-itertools==7.1.0
packaging==19.0
pexpect==4.7.0
pluggy==0.12.0
psycopg2==2.7.6.1
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.10.0
pyparsing==2.4.0
pytest==5.0.1
python-dateutil==2.1
python-dotenv==0.10.3
python-engineio>=3.9.0
python-socketio==4.2.0
pytz==2019.1
PyYAML==5.1.1
requests==2.21.0
six==1.3.0
soupsieve==1.9.2
South==0.8.1
SQLAlchemy==1.3.0
sqlparse==0.3.0
submit50==2.4.13
termcolor==1.1.0
urllib3==1.24.2
wcwidth==0.1.7
werkzeug>=0.15.3
zipp==0.5.1
