{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <form action="#" method="post" name="curreny-converter" id="currency-form">
      <select name="json-call" id="json-call">
        <option value="latest">Latest Rate</option>
        <option value="historical">Historical Rate</option>
      </select>
      <br>
      <select name="base-currency" id="base-currency-dropdown"></select>
      <br>
      <input id="currency-amount" autocomplete="off" autofocus placeholder="Amount" type="number">
      <br>
      <select name="target-currency" id="target-currency-dropdown"></select>
      <br>
      <button type="submit" id="submit">Get Exchange Rate</button>
    </form>
    <br>
    <div id="result"></div>
  </div>

  <div class="container">
    <select id="locality-dropdown" name="locality"></select>
  </div>

{% endblock %}
